* {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    margin: 0;
    color: #5a5a5a;
}

#head {
    background-image: url(img/head.jpg);
    height: 950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.titulo {
    top: 30px;
    left: 45px;
    font-size: 18px;
    font-weight: 900;
    position: absolute;
}

.social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

.social a {
    margin-left: 20px;
    color: white;
}

.textcent {
    padding-top: 300px;
    text-align: center;
    width: 850px;
    margin: 0 auto;
}

#head h1 {
    font-weight: 700;
    font-size: 40px;
}

.form {
    margin-top: 50px;
    margin-bottom: 50px;
}

input {
    font-size: 18px;
    border-radius: 25px;
    padding: 15px 30px 16px;
    border: 1px solid gainsboro;
}

#sub {
    float: left;
    width: 50%;
}

.btn {
    border-radius: 50px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 17px 5px;
    width: 40%;
    background: tomato;
    color: white;
}

/* Aqui comienza la seccion app */

#app {
    height: 350px;
    padding: 80px;
}

.store img {
    height: 50px;
}

.appcol{
    display: flex;
    justify-content: space-around;
}

.appchar {
    width: 40%;
    text-align: center;
}

#app h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

#app p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.celular {
    max-width: 100%;
}

/* Aqui comienza la seccion conoce más  */

#opc {
    height: 460px;
    background-image: url(img/explor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top: 50px;
}

.aprende {
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    color: white;
}

.aprende h4 {
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 20px;
}

/* Aqui comienzan los precios */

#p-text {
    height: 650px;
    padding: 80px;
    text-align: center;
}

.colum {
    margin: 25px;
    display: flex;
    justify-content: space-around;
}

.columna1 {
    width: 30%;
}

.precios {
    height: 550px;
    border: 2px solid #5a5a5a;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px;
}

.p-head {
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
}

ul {
    list-style-type: none;
    padding: 0;
}

.caracteristica li {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding: 24px;
}

.pmoney{
    margin: 20px;
}

.pmoney .dinero {
    font-weight: 700;
    font-size: 46px;
    margin: 10px;
}

.pmoney .sign {
    font-weight: 700;
    font-size: 18px;
    color: #ccc;
    position: relative;
    bottom: 10px;
}

#p-text .btn {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Separador */

#sep {
    background: #f2f2f2;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
}